* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--colorNav7);
    color: black;
}

:root {
    --colorNav1: #0B0C10;
    --colorNav2: #1F2833;
    --colorNav3: #C5C6C7;
    --colorNav4: #66FCF1;
    --colorNav5: #45A29E;
    --colorNav6: #125754;
    --colorNav7: rgb(255, 2, 86);
    --colorNav8: #66fcf2b7;
}

body {
    background: linear-gradient(to left, var(--colorNav2), var(--colorNav6));
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorNav1);
    align-items: center;
    height: 10vh;
    letter-spacing: 0.1em;
    font-family: monospace, sans-serif;
    font-size: 1.5em;
    color: var(--colorNav1);
    /* text-shadow: 3px 3px 20px var(--colorNav4); */
    text-shadow: 1px 1px 20px #00ffec, 0 0 1em var(--colorNav4), 0 0 0.2em var(--colorNav4);
    box-shadow: 1px 4px 20px 0px var(--colorNav4);
    font-weight: 900;
}

#Portfolio {
    padding-bottom: 1%;
    position: relative;
    top: 9%;
    left: 10%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 22%;
}

#lit1:hover,
#lit2:hover,
#lit3:hover,
#lit4:hover,
#modeChanger:hover {
    color: var(--colorNav4);
}

.buton:hover {
    background-color: var(--colorNav1);
    color: var(--colorNav4);
}

#lit1,
#lit2,
#lit3,
#lit4 {
    color: var(--colorNav1);
    text-decoration: none;
}


nav>ul>li {
    list-style: none;

}

#modeChanger {
    border: none;
    color: var(--colorNav1);
    background-color: var(--colorNav1);
    text-shadow: 1px 1px 20px #00ffec, 0 0 1em var(--colorNav4), 0 0 0.2em var(--colorNav4);
    font-size: 1.2em;

}

main {
    display: flex;
    height: 85vh;
    align-items: center;
    width: 75vw;
    justify-content: space-between;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    width: 32%;
    height: 50%;
    padding-left: 8%;
    padding-right: 8%;
    /* box-sizing: content-box; */
    position: relative;
    left: 10%;
}

#img {
    width: 590%;
    position: relative;
    right: 205%;
    border: 1.4em solid;
    border-bottom-color: var(--colorNav7);
    border-top-color: var(--colorNav7);
    border-left-color: var(--colorNav4);
    border-right-color: var(--colorNav4);
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0px 0px 20px 11px var(--colorNav7), 0px 1px 20px 20px var(--colorNav4), 0px 0px 20px 20px var(--colorNav7), 0px 0px 20px 20px var(--colorNav4);
}

#left {
    color: var(--colorNav1);
    font-size: 2.4em;
    font-weight: 900;
    position: relative;
    right: 2.5%;
}

#name {
    font-size: 2em;
    font-family: fantasy;
    font-weight: 500;
    color: var(--colorNav4);
}

#about {
    width: 77%;
    font-weight: 500;
    font-size: 1.5em;
    font-family: cursive;
    word-break: keep-all;
    margin-left: 12.5%;
    color: var(--colorNav4);
    background-color: var(--colorNav1);
    padding: 2%;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0px #789f9c;
}

#element {
    color: var(--colorNav7);
    font-family: fantasy;
    font-weight: 500;
    margin-left: -4%;
    font-size: 1.2em;
}

#buttonContainer {
    display: flex;
    justify-content: start;
    margin-left: 13%;
}

.btns {
    margin: 5% 10% 0px 0px;
    background: transparent;
    border: none;
    background-color: var(--colorNav4);
    padding: 2%;
    border: 0px solid;
    border-radius: 50%;
    width: 8%;
    font-size: 1.5em;
}

.btn {
    font-size: 1.5em;
    margin: 5% 10% 0px 0px;
    background: transparent;
    border: none;
    border: 0px solid;
    border-radius: 15px 15px 15px 15px;
    width: 20%;
    background-color: var(--colorNav4);
    padding: 2%;
}

.buton {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 1px 1px 20px #00ffec, 0 0 1em var(--colorNav4), 0 0 0.2em var(--colorNav4);
}